@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>@ViewBag.Title</h1>

<h2>@ViewData["Message"]</h2>

@*Inline Razor Expression*@
<b>Time is @DateTime.Now.ToLongTimeString()</b>

<hr />
<b>List of Cities using ViewData</b>
@{
    var list = ViewData["cities"] as List<string>;

    @foreach(var item in list)
    {
        <li>@item</li>
    }
}

<hr />
<b>List of Cities using ViewBag</b>

@foreach(var item in ViewBag.Cities)
{
    <li>@item</li>
}